*{
    font-family: 'Press Start 2P';
    
}
main{
    width: 100%;
    height: 500px;
    background-color: rgb(69, 106, 226);
}
#selection {
    padding-top: 200px;
    margin: 120px 0;
    display: flex;
    justify-content: space-evenly;
}
.intro button{
    
    background-color: rgb(238, 58, 26);
    border: steelblue 9px solid;
    
}
.theVault{
    height: 10rem;
    width: 9rem;
    font-size: 1rem;
}
.theVault h1,
.theVault h3 {
    font-size: 1.2rem;
    padding-top: 2.5rem;
}
.player{
    display: flex;
    justify-content: space-around;
    border: steelblue 4px solid;
}
.player button {
    background-color: white;
    //box-shadow: 0px 0px 14px 10px #0cfdbd,0px 0px 14px 10px #7c0cfd;
    width: 6rem;
    
}
.red{
    background-image: url(/images/charBtn.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.blue{
    background-image: url(/images/charBtn.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.player img{
    position: relative;
    bottom: 10px;
    width: 5rem;
    height: 6rem;
    image-rendering: pixelated;
}

.modal-body img{
    height: 10rem;
    width: 10rem;
    position: relative;
    left: 15rem;
    top: 5rem;
    image-rendering: pixelated;
}
.modal-body p{
    position: relative;
    left: 2rem;
    bottom: 7rem;
    font-size: .9rem;
}

.fact {
    font-size: .9rem;
}

.attack {
    color: red;
}

.health {
    color: green;
}

.special {
    color: blue;
}

.goku-moveset li {
    font-size: .7rem;
}

.luffy-moveset li {
    font-size: .7rem;
}

.sailor-moveset li {
    font-size: .7rem;
}

.azula-moveset li {
    font-size: .7rem;
}